@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.loader::after,
.loader::before {
    animation: loader 2s linear infinite;
    content: "";
    border: 5px solid var(--color-usage);
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
}

.loader::after {
    opacity: 0;
    animation-delay: 1s;
}
