@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #333;
    --color-secondary: #ddd;
    --color-palette: #dcac0a;
    --color-usage: #ddd6fe;
    --accent: 220 172 10;
    --accent-light: 221, 214, 254;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 80%
    );
    --color-selected: 239, 238, 79;
    --color-selected-light: 247, 246, 167;
}

.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}
.text-gradient {
    background-image: url(/noise-extra.webp), var(--accent-gradient);
    background-size: 200px, 100%;
}
