a {
    cursor: not-allowed;
}
li {
    display: flex;
    align-items: center;
    gap: 1em;
}

#check {
    display: none;
}
#check:checked ~ * .menu-aside {
    left: 0;
}
#check:checked ~ .aside {
    left: 0;
}
